<div class="form-wrap">
    <div class="form-content">
        <form class="edit-form" novalidate dp-form-validator="" name="pushservice_form" dp-after-validator="afterVali">
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse1 = !isCollapse1">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>必填项</h5>
                </div>
                <div collapse="isCollapse1">
                    <div class="widget-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">操作类型: </label>
                            <div class="col-sm-5">
                                <select name="method" ng-model="entity.method" ng-options="o.value as o.name for o in action_type"></select>
                            </div>
                        </div>
                        <!--add类型-->
                        <div ng-if="entity.method === 'add'">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推送内容：</label>
                                <div class="col-sm-1">
                                    <select name="type" ng-model="add.push_type" ng-options="push_type.value as push_type.display_value for push_type in push_typies"></select>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="content" class="form-control" ng-model="add[add.push_type].title" readonly option="{tipPos:'top'}" required="">
                                </div>
                                <div class="col-sm-4 clear_col_margin">
                                    <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','pushservice', add.push_type, 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-pencil" ng-if="add[add.push_type]" ng-click="popUp('edit','pushservice', add.push_type, 'title', 0 ,add[add.push_type].id, true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','pushservice', add.push_type, 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-remove" ng-if="add[add.push_type]" ng-click="removeFiled(add.push_type)"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="add.push_type==='speeddialfolder'">
                                <label class="col-sm-2 control-label">位置：</label>
                                <div class="col-sm-6">
                                    <input type="text" name="postion_title" ng-model="add.position" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Order：</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="add.order" placeholder="" name="order">
                                </div>
                                <div class="col-sm-4 control-tip">默认值为1</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推送规则：</label>
                                <div class="col-sm-6">
                                    <input type="text" name="rule_title" class="form-control" ng-model="add.aosruledata.title" readonly>
                                </div>
                                <div class="col-sm-4 clear_col_margin">
                                    <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-pencil" ng-if="add.aosruledata" ng-click="popUp('edit','aosrule', 'aosruledata', 'title', 0 ,add.aosruledata.id, true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-remove" ng-if="add.aosruledata" ng-click="removeFiled('aosruledata')"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="can_delete" ng-model="add.can_delete"> 允许用户删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modify类型-->
                        <div ng-if="entity.method === 'modify'">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推送内容：</label>
                                <div class="col-sm-1">
                                    <select name="type" ng-model="modify.push_type" ng-options="push_type.value as push_type.display_value for push_type in push_typies"></select>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="content" class="form-control" ng-model="modify[modify.push_type].title" readonly option="{tipPos:'top'}" required="">
                                </div>
                                <div class="col-sm-4 clear_col_margin">
                                    <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','pushservice', modify.push_type, 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-pencil" ng-if="modify[modify.push_type]" ng-click="popUp('edit','pushservice', modify.push_type, 'title', 0 ,modify[modify.push_type].id, true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','pushservice', modify.push_type, 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-remove" ng-if="modify[modify.push_type]" ng-click="removeFiled(modify.push_type)"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">修改为：</label>
                                <div class="col-sm-1">
                                    <select name="type2" ng-model="modify.push_type" ng-options="push_type.value as push_type.display_value for push_type in push_typies"></select>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="content" class="form-control" ng-model="modify.speeddial_modify.title" readonly option="{tipPos:'bottom'}" required="">
                                </div>
                                <div class="col-sm-4 clear_col_margin">
                                    <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp_details('list','pushservice', modify.push_type, 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-pencil" ng-if="modify.speeddial_modify" ng-click="popUp_details('edit','pushservice', modify.push_type, 'title', 0 ,modify.speeddial_modify.id, true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp_details('add','pushservice', modify.push_type, 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-remove" ng-if="modify.speeddial_modify" ng-click="removeFiled('speeddial_modify')"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推送规则：</label>
                                <div class="col-sm-6">
                                    <input type="text" name="rule_title" class="form-control" ng-model="modify.aosruledata.title" readonly>
                                </div>
                                <div class="col-sm-4 clear_col_margin">
                                    <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-pencil" ng-if="modify.aosruledata" ng-click="popUp('edit','aosrule', 'aosruledata', 'title', 0 ,modify.aosruledata.id, true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-remove" ng-if="modify.aosruledata" ng-click="removeFiled('aosruledata')"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="can_delete" ng-model="modify.can_delete"> 允许用户删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--delete类型-->
                        <div ng-if="entity.method === 'delete'">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推送内容：</label>
                                <div class="col-sm-1">
                                    <select name="type" ng-model="delete.push_type" ng-options="push_type.value as push_type.display_value for push_type in push_typies"></select>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="content" class="form-control" ng-model="delete[delete.push_type].title" readonly option="{tipPos:'top'}" required="">
                                </div>
                                <div class="col-sm-4 clear_col_margin">
                                    <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','pushservice', delete.push_type, 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-pencil" ng-if="delete[delete.push_type]" ng-click="popUp('edit','pushservice', delete.push_type, 'title', 0 ,delete[delete.push_type].id, true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','pushservice', delete.push_type, 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-remove" ng-if="delete[delete.push_type]" ng-click="removeFiled(delete.push_type)"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推送规则：</label>
                                <div class="col-sm-6">
                                    <input type="text" name="rule_title" class="form-control" ng-model="delete.aosruledata.title" readonly>
                                </div>
                                <div class="col-sm-4 clear_col_margin">
                                    <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-pencil" ng-if="delete.aosruledata" ng-click="popUp('edit','aosrule', 'aosruledata', 'title', 0 ,delete.aosruledata.id, true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                    <span class="ref-icon glyphicon glyphicon-remove" ng-if="delete.aosruledata" ng-click="removeFiled('aosruledata')"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="can_delete" ng-model="delete.can_delete"> 允许用户删除
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-btn-wrap">
                <button class="btn btn-success right" dp-form-submit="save" has-permission="edit||add">保存</button>
                <!-- <button class="btn btn-default right" ng-click="saveAndContinueEdit()">保存并继续编辑</button>-->
                <button class="btn btn-default right" dp-form-submit="saveAsNew" ng-if="isEditState && !isPopup()" has-permission="add">保存为新的</button>
            </div>
    </form>
    </div>
</div>
</div>
