<div class="user-warp">
    <form class="form-horizontal" name="changepassword" novalidate dp-form-validator="">
        <div class="form-title"><i class="fa fa-user"></i>  {{getUsername()}} Account Settings</div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Current password:</label>
            <div class="col-sm-5">
                <input type="password" name="currentpassword" placeholder="Current password" class="form-control" ng-model="user.current_password" required rule="password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">New password:</label>
            <div class="col-sm-5">
                <input type="password" placeholder="New password" name="newpassword" class="form-control" ng-model="user.new_password" rule="password" ng-minlength="6" ng-maxlength="16" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Confirm new password:</label>
            <div class="col-sm-5">
                <input type="password" placeholder="Confirm new password" name="confirmnewpassword" class="form-control" ng-model="user.confirm_new_password" dp-repeat="newpassword" required>
            </div>
        </div>
        <div class="form-footer">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button class="btn btn-success ng-scope" dp-form-submit="changepwd" type="submit">Change password</button>
                </div>
            </div>
        </div>
    </form>
</div>