<div class="login-user">
  <span style="padding-right: 20px; cursor: pointer" ng-click="goChangePassword()">Welcome {{getUsername()}}!</span>
  <a href="" ng-click="logout()" class="log-out-btn">
    <i></i>
    <span>Log out</span>
  </a>
</div>
<div class="title">
  <a href="#/translation"></a>
</div>
<nav class="topnav">
    <ul>
        <li ng-repeat="nav in navs"><a ng-click="changeProject(nav, $index)" ng-class="{active:active.value === nav.value}">{{nav.display_value}}</a></li>
    </ul>
</nav>
