<div class="form-wrap icon-edit-page">
  <div class="form-content">
    <form class="edit-form">
      
        <div class="widget-box">
          <div class="widget-title" ng-click="isCollapse1 = !isCollapse1">
            <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
            <h5>添加图片资源</h5>
          </div>
          <div collapse="isCollapse1">
            <div class="widget-content">
            
                <div class="form-group">
                  
                  <label class="col-sm-2 control-label">平台选择: </label>
                  <div class="col-sm-6">
                    <select ng-model="entity.platform" ng-options="item.value as item.display_value for item in displayInfo.platform.items">
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  
                  <label class="col-sm-2 control-label">项目名称: </label>
                  <div class="col-sm-6">
                    <input type="hidden" ng-model="entity.package">
                  
                      <label ng-repeat="cate in displayInfo.platform.convertItems[entity.platform].children.items">
                        <input type="checkbox" ng-model="checkbox.package[cate.value]" ng-change="packageChange(cate.value)"><span class="form-input-text">{{cate.display_value}}</span>
                      </label>
                  
                  </div>
                </div>
            
                <div class="form-group">
                  
                  <label class="col-sm-2 control-label">文件类型: </label>
                  <div class="col-sm-6">
                  
                    <input type="hidden" class="checkbox-type" ng-model="entity.type" data-checkbox="icon,banner" data-column="type">
                    
                      <label><input type="checkbox" ng-model="checkbox.type1" ng-change="change('type', 'type1', 'icon')"><span class="form-input-text">Icon</span></label>
                    
                      <label><input type="checkbox" ng-model="checkbox.type2" ng-change="change('type', 'type2', 'banner')"><span class="form-input-text">Banner</span></label>
                    
                      <!--<label><input type="checkbox" ng-model="checkbox.type3" ng-change="change('type', 'type3', 'theme')"><span class="form-input-text">Theme</span></label>-->
                  
                  </div>
                </div>
                <div class="form-group">
                  
                  <label class="col-sm-2 control-label">图片名称: </label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="entity.title" placeholder="请使用英文字段">
                  
                  </div>
                </div>
            
                <div class="form-group">
                  
                  <label class="col-sm-2 control-label">图片资源: </label>
                  <div class="col-sm-6">

                    <div ng-if="isEditState && !iconChanged" class="img-wrapper" style="margin-bottom: 10px;">
                      <img ng-src="{{entity.icon}}">
                      <div class="icon-preview-text">
                        宽:长 = {{entity.width}}:{{entity.height}}
                      </div>
                    </div>
                    <div class="select-file-wrap">
                      <input type="file" class="input-file" file-model="entity.icon" on-changed="getFileInfo(node)">
                      <button class="btn btn-default">更改文件</button><span>{{entity.icon.name}}</span>
                    </div>
                  
                  </div>
                </div>
            
                <div ng-if="isEditState" class="form-group split-line">
                  <label class="col-sm-2 control-label">以下为自动填充：</label>
                </div>
                <div ng-if="isEditState" class="form-group">
                    <label class="col-sm-2 control-label">上次修改时间: </label>
                    <div class="col-sm-6 lh40">
                        <span>{{entity.last_modified}}</span>
                    </div>
                </div>
                <div ng-if="isEditState" class="form-group">
                  
                  <label class="col-sm-2 control-label">测试环境地址: </label>
                  <div class="col-sm-6 lh40">
                    <span>{{entity.local_url}}</span>
                    <span class="glyphicon" ng-class="entity.is_upload_local ? 'glyphicon-ok-circle' : 'glyphicon-minus-sign'"></span>
                  
                  </div>
                </div>
            
                <div ng-if="isEditState" class="form-group">
                  
                  <label class="col-sm-2 control-label">正式环境地址: </label>
                  <div class="col-sm-6 lh40">
                    <span>{{entity.ec2_url}}</span>
                    <span class="glyphicon" ng-class="entity.is_upload_ec2 ? 'glyphicon-ok-circle' : 'glyphicon-minus-sign'"></span>
                  </div>
                </div>
            
            </div>
          </div>
        </div>
        
    </form>
  </div>
  <div class="form-btn-wrap">
    <button class="btn btn-success right" ng-click="save()" has-permission="edit||add">保存</button>
    <!--<button class="btn btn-default right" ng-click="saveAndContinueEdit()">保存并继续编辑</button>-->
    <!--<button class="btn btn-default right" ng-click="saveAsNew()">另存为新的</button>-->
  </div>
</div>
