<div class="form-wrap">
    <div class="form-content">
        <form class="edit-form" name="adpush_form">
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse1 = !isCollapse1">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>必填项</h5>
                </div>
                <div collapse="isCollapse1">
                    <div class="widget-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">title: </label>
                            <div class="col-sm-6">
                                <input type="text" name="title" class="form-control" dp-back-checkid="{{ids()}}" dp-back-method="{{methods()}}" ng-model="entity.title" dp-back-check="{{getCheckSortUrl()}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">配置规则: </label>
                            <div class="col-sm-6">
                                <input type="text" name="rule_id" class="form-control" ng-model="entity.rule_id.title" readonly>
                            </div>
                            <div class="col-sm-4 clear_col_margin">
                                <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp2('list','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.rule_id.title && entity.rule_id.length!=0" ng-click="popUp2('edit','aosrule', 'aosruledata', 'title', 0 ,entity.rule_id.id, true)"></span>
                                <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp2('add','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.rule_id.title && entity.rule_id.length!=0" ng-click="removeFiled('rule_id')"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">广告位: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="adpos" ng-model="entity.adpos.title" readonly>
                            </div>
                            <div class="col-sm-4 clear_col_margin">
                                <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp3('list','turbotservice', 'adpos', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.adpos.title && entity.adpos.length!=0" ng-click="popUp3('edit','turbotservice', 'adpos', 'title', 0 ,entity.adpos.id, true)"></span>
                                <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp3('add','turbotservice', 'adpos', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.adpos.title && entity.adpos.length!=0" ng-click="removeFiled('adpos')"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标签类型: </label>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label><input type="checkbox" all-select-dire="usertaglist" has-selected="entity.usertaglist" all-select-resource="usertags"/>全选</label>
                                </div>
                                <div class="checkbox">
                                    <label ng-repeat="item in usertags" class="col-sm-2"><input type="checkbox" name="usertaglist" value="{{item.value}}"/>{{item.display}}</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 添加广告位和广告源 -->
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse2 = !isCollapse2">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>添加广告投放</h5>
                </div>
                <div collapse="isCollapse2">
                    <div class="widget-content">
                        <div class="form-group">
                            <div class="inline-ref-table">
                                <table class="table table-bordered ref-table ref-speeddial">
                                    <thead>
                                        <tr>
                                            <th>广告源</th>
                                            <th width="6%">权重</th>
                                            <th width="17%">时间</th>
                                            <th width="11%">点击次数</th>
                                            <th width="11%">展示次数</th>
                                            <th width="6%">预算类型</th>
                                            <th width="6%">预算金额</th>
                                            <th width="6%">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="refItem in entity.adgroup">
                                            <td>
                                                <div class="col-md-9">
                                                <input type="text" class="form-control" name="adsourceTitle{{$index}}" dp-dynamic-field-name ng-model="refItem.adsource.title" readonly></div>
                                                <div class="ref-btn-wrap">
                                                    <span class="glyphicon glyphicon-search" ng-click="popUp4('list', 'turbotservice', 'adsource', 'title', $index)"></span>
                                                    <span class="glyphicon glyphicon-pencil" ng-click="popUp4('edit', 'turbotservice', 'adsource', 'title', $index, refItem.adsource.id)"></span>
                                                    <span class="glyphicon glyphicon-plus" ng-click="popUp4('add', 'turbotservice', 'adsource', 'title', $index)"></span>
                                                </div>
                                            </td>
                                            <td><input type="text" class="form-control"  name="score{{$index}}" dp-dynamic-field-name ng-model="refItem['score']"/></td>
                                            <td>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="refItem['effectivetime']" is-open="refItem.startopened" show-button-bar="false" name="{{'time_start_' +  $index}}"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="openData($event, refItem, 'startopened')" ng-disabled="refItem.startopened"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="refItem['expiretime']" is-open="refItem.endopened" show-button-bar="false" name="{{'time_end_' +  $index}}"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="openData($event, refItem, 'endopened')" ng-disabled="refItem.endopened"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </td>

                                            <td>
                                                <input type="number" name="minclick{{$index}}" dp-dynamic-field-name placeholder="最小点击次数" class="form-control" ng-model="refItem['minclick']"/>
                                                <input type="number" name="maxclick{{$index}}" dp-dynamic-field-name placeholder="最大点击次数" class="form-control" ng-model="refItem['maxclick']"/>
                                            </td>

                                            <td>
                                                <input type="number" name="mindisplay{{$index}}" dp-dynamic-field-name placeholder="最小展示次数" class="form-control" ng-model="refItem['mindisplay']"/>
                                                <input type="number" name="maxdisplay{{$index}}" dp-dynamic-field-name placeholder="最大展示次数" class="form-control" ng-model="refItem['maxdisplay']"/>
                                            </td>

                                            <td>
                                                <select name="budgettype{{$index}}" dp-dynamic-field-name ng-model="refItem['budgettype']" ng-options="o.number as o.name for o in budtype"></select>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" name="budgetamount{{$index}}" dp-dynamic-field-name ng-model="refItem['budgetamount']"/>
                                            </td>
                                            <td class="ref-actions">
                                                <input type="button" class="btn btn-danger" ng-click="delGroup($index)" value="删除"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="col-md-9">
                                                <input type="text" class="form-control" ng-model="entity.adgroup[entity.adsource.length]['title']" name="adsource_Tit" readonly></div>
                                                <div class="ref-btn-wrap">
                                                    <span class="glyphicon glyphicon-search" ng-click="popUp4('list', 'turbotservice', 'adsource', 'title', entity.adgroup.length)"></span>
                                                    <span class="glyphicon glyphicon-plus" ng-click="popUp4('add', 'turbotservice', 'adsource', 'title', entity.adgroup.length)"></span>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td>

                                            </td>

                                            <td>

                                            </td>

                                            <td>

                                            </td>

                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td class="ref-actions">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>



            <div class="form-btn-wrap">
                <!--<button type="submit" class="btn btn-success right" dp-form-submit="save" has-permission="edit||add">保存</button>-->
                <button type="submit" class="btn btn-success right" ng-click="save()" has-permission="edit||add">保存</button>
            </div>
        </form>
    </div>
</div>

