<div class="form-wrap">
    <form class="edit-form" novalidate dp-form-validator="" name="theme_form" dp-after-validator="afterVali">
        <div class="widget-box">
            <div class="widget-title" ng-click="isCollapse1 = !isCollapse1">
                <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                <h5>添加主题</h5>
            </div>
            <div collapse="isCollapse1">
                <div class="widget-content">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">主题名称: </label>
                        <div class="col-sm-6">
                            <input type="text" name="title" class="form-control" dp-back-checkid="{{ids()}}" dp-back-method="{{methods()}}" ng-model="entity.title" dp-back-check="{{getCheckSortUrl()}}" required="">
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="recommend" ng-model="entity.recommend" ng-true-value="1" ng-false-value="0"> 推荐
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述: </label>
                        <div class="col-sm-6">
                            <textarea class="form-control" name="des" ng-model="entity.describe" rows="3" required=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">set Downloads: </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="base_downloads" ng-model="entity.base_downloads" min="0" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">颜色: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="entity.color" placeholder="请填写'#980690'的正确格式" ng-pattern="/^#[0-9a-fA-F]{6}$/" name="color" required="">
                        </div>
                        <span class="control-tip">Red "#ff0000"</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">size: </label>
                        <div class="col-sm-6">
                            <input class="form-control" name="size" ng-model="entity.size" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">推荐次序: </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="promote_order" ng-model="entity.promote_order" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分类次序: </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" name="category_order" ng-model="entity.category_order" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图标: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="icon_title" ng-model="entity.icon.title" readonly>
                        </div>
                        <div class="col-sm-4 clear_col_margin">
                            <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','staticresource', 'icon', 'title', 0 ,'', true)"></span>
                            <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.icon.title && entity.icon.length!=0" ng-click="popUp('edit','staticresource', 'icon', 'title', 0 ,entity.icon.id, true)"></span>
                            <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','staticresource', 'icon', 'title', 0 ,'', true)"></span>
                            <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.icon.title && entity.icon.length!=0" ng-click="removeFiled('icon')"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Icon detail: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="logoTitle" ng-model="entity.logo.title" readonly="">
                        </div>
                        <div class="col-sm-4 clear_col_margin">
                            <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp_logo('list','staticresource', 'icon', 'title', 0 ,'', true)"></span>
                            <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.logo" ng-click="popUp_logo('edit','staticresource', 'icon', 'title', 0 ,entity.logo.id, true)"></span>
                            <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp_logo('add','staticresource', 'icon', 'title', 0 ,'', true)"></span>
                            <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.logo" ng-click="removeFiled('logo')"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分类: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="themecategory" ng-model="entity.themecategory.title" readonly="">
                        </div>
                        <div class="col-sm-4 clear_col_margin">
                            <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp_themecategory('list','themestore', 'themecategory', 'title', 0 ,'', true)"></span>
                            <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.themecategory" ng-click="popUp_themecategory('edit','themestore', 'themecategory', 'title', 0 ,entity.themecategory.id, true)"></span>
                            <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp_themecategory('add','themestore', 'themecategory', 'title', 0 ,'', true)"></span>
                            <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.themecategory" ng-click="removeFiled('themecategory')"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择文件: </label>
                        <div class="col-sm-6">
                            <div ng-show="entity.dwpfile" class="FileCurr">目前：{{entity.dwpfile}}</div>
                            <span ng-show="entity.dwpfile" class="fl_txt">修改：</span>
                            <div class="FileUpload">
                                <input type="file" class="input-file" name="dwpfile_file" file-model="entity.dwpfile_file" on-changed="getFileInfo(node)">
                                <button class="btn btn-default">更改文件</button><span>{{entity.dwpfile_file.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">推送规则：</label>
                        <div class="col-sm-6">
                            <input type="text" name="rule_title" class="form-control" ng-model="entity.aosruledata.title" readonly>
                        </div>
                        <div class="col-sm-4 clear_col_margin">
                            <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                            <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.aosruledata.title && entity.aosruledata.length!=0" ng-click="popUp('edit','aosrule', 'aosruledata', 'title', 0 ,entity.aosruledata.id, true)"></span>
                            <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                            <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.aosruledata.title && entity.aosruledata.length!=0" ng-click="removeFiled('aosruledata')"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Theme Tags: </label>
                        <div class="col-sm-10" style="padding-top: 5px">
                            <label class="radio-inline" ng-repeat="value in values">
                                <input type="radio" name="myTestRadio" ng-model="entity.theme_tag" ng-value="value.val"
                                       ng-checked="entity.theme_tag == value.val"/>{{value.name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-if="isEditState">
                        <label class="col-sm-2 control-label">Downloads: </label>
                        <div class="col-sm-10" style="padding-top: 5px">
                            {{entity.downloads}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-btn-wrap">
            <button class="btn btn-success right" dp-form-submit="save" has-permission="edit||add">保存</button>
            <button class="btn btn-default right" dp-form-submit="saveAsNew" ng-if="isEditState && !isPopup()" has-permission="add">保存为新的</button>
        </div>
    </form>
</div>

