<div class="user-warp">
    <!--<form class="form-horizontal" name="createTransForm" ng-submit="createUser()" novalidate>-->
    <form class="form-horizontal" name="createTransForm" novalidate dp-form-validator="">
        <div class="form-title">
            Edit User
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-7">
                <input type="email" name="username" placeholder="user name" class="form-control" ng-model="user.user_name" required>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">Group</label>
            <div class="col-sm-7">
                <a href="" class="btn btn-gray width-full" role="button" ng-click="selectGroup()">Select Group +</a>
                <div class="roles-warp">
                    <span  ng-repeat="group in selectedGroups" class="role-item"><i ng-click="deleteGroup(group)">X</i>{{group.display_value}}</span>
                </div>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">Role</label>
            <div class="col-sm-7">
                <a href="" class="btn btn-gray width-full" role="button" ng-click="selectRole()">Select Role +</a>
                <div class="roles-warp">
                    <span  ng-repeat="role in selectedRoles" class="role-item"><i ng-click="deleteRole(role)">X</i>{{role.display_value}}</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mark</label>
            <div class="col-sm-7">
                <input type="text" placeholder="mark" name="mark" class="form-control" ng-model="user.mark">
            </div>
        </div>
        <div class="form-footer">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button class="btn btn-default btn-gray" ng-click="cancel()" type="button">Cancel</button>
                    <button class="btn btn-success ng-scope" dp-form-submit="createUser" type="button">Create User</button>
                </div>
            </div>
        </div>
    </form>
</div>