<div class="form-wrap">
    <form class="edit-form" novalidate dp-form-validator="" name="provision_form">
        <div class="form-content">
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse1 = !isCollapse1">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>必填项</h5>
                </div>
                <div collapse="isCollapse1">
                    <div class="widget-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">控制台标题: </label>
                            <div class="col-sm-6">
                                <input type="text" name="title" class="form-control" ng-model="entity.title" dp-back-check="{{getCheckSortUrl()}}" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="entity.name" name="name" placeholder="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse2 = !isCollapse2">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>关联书签</h5>
                </div>
                <div collapse="isCollapse2">
                    <div class="widget-content">
                        <div class="form-group">
                            <div class="inline-ref-table">
                                <table class="table table-bordered ref-table ref-pbookmark">
                                    <thead>
                                    <tr>
                                        <th>书签</th>
                                        <th>Order</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="refItem in entity.pbookmark">
                                        <td>
                                            <input type="text" class="form-control inline-ref-input-cell" name="pbookmarkTitle" ng-model="refItem['title']" readonly>
                                            <div class="ref-btn-wrap">
                                                <span class="glyphicon glyphicon-search" ng-click="popUp('list', 'pcpreset', 'pbookmark', 'title', $index)"></span>
                                                 <span class="glyphicon glyphicon-pencil" ng-click="popUp('edit', 'pcpreset', 'pbookmark', 'title', $index, refItem.id)"></span>
                                                <span class="glyphicon glyphicon-plus" ng-click="popUp('add', 'pcpreset', 'pbookmark', 'title', $index)"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control inline-ref-order-cell" name="pbookmarkOrder" ng-model="refItem.order">
                                        </td>
                                        <td class="ref-actions">
                                            <input type="checkbox" ng-model="refItem.isDelete" name="pbookmarkDelete">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control inline-ref-input-cell" ng-model="entity.pbookmark[entity.pbookmark.length]['title']" name="pbookmarkTit" readonly>
                                            <div class="ref-btn-wrap">
                                                <span class="glyphicon glyphicon-search" ng-click="popUp('list', 'pcpreset', 'pbookmark', 'title', entity.pbookmark.length)"></span>
                                                <span class="glyphicon glyphicon-plus" ng-click="popUp('add', 'pcpreset', 'pbookmark', 'title', entity.pbookmark.length)"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <!--<input type="text" class="form-control inline-ref-order-cell" ng-model="entity.pbookmark[entity.pbookmark.length]['order']">-->
                                        </td>
                                        <td class="ref-actions">
                                            <!--<input type="checkbox">-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-btn-wrap">
            <button class="btn btn-success right" dp-form-submit="save" has-permission="edit||add">保存</button>
            <!--<button class="btn btn-default right" ng-click="saveAndContinueEdit()">保存并继续编辑</button>-->
            <button class="btn btn-default right" dp-form-submit="saveAsNew" ng-if="isEditState && !isPopup()" has-permission="add">保存为新的</button>
        </div>
    </form>
</div>
