<div class="list-wrap">
    <div class="list-top clearfix">
        <button class="btn btn-success right" ng-click="addaosruledata()" has-permission="add">添加配置条件</button>
        <div class="filter-wrap left">
            <dp-multi-dropdown selected-model="selectOptions" on-selected="filter(node, isInit)"></dp-multi-dropdown>
        </div>
        <div class="list-datepicker left">
            <div class="date-selected">
                <span class="input-group date-picker-select">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePicker.start.dt"
                           max-date="datePicker.end.dt" is-open="datePicker.start.opened" show-button-bar="false" readonly
                           ng-required="true"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event, datePicker.start)" ng-disabled="datePicker.end.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </span>
                <label class="date-picker-text">—</label>
                <span class="input-group date-picker-select end-date">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePicker.end.dt"
                           min-date="datePicker.start.dt" max-date="datePicker.end.max" is-open="datePicker.end.opened"
                           show-button-bar="false" readonly ng-required="true"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event, datePicker.end)" ng-disabled="datePicker.start.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </span>
            </div>
        </div>
        <div class="search-wrap left">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="search.string">
                    <span class="glyphicon glyphicon-search form-control-feedback" ng-disabled="isLoading"
                          ng-click="goSearch()"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="list-content" cc-loading-layer="!aosruledataTableParams.settings().$loading">
        <div ng-show="!aosruledataTableParams.settings().$loading && items && !items.length" class="no-data">The list is empty, nothing to do！ </div>
        <table ng-table="aosruledataTableParams" class="table table-bordered trans-table" template-pagination="app/layouts/pagination.html">
            <thead>
            <tr>
                <th width="50"><input type="checkbox" all-select-dire="rules" has-selected="vm.listChecked" all-select-resource="items"/></th>
                <th width="60">ID</th>
                <th>标题</th>
                <th>最小版本</th>
                <th>最大版本</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th width="100">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items" ng-click="choice(item)">
                <td><input type="checkbox" name="rules" value="{{item.id}}"/></td>
                <td class="text-align-c">{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.min_version}}</td>
                <td>{{item.max_version}}</td>
                <td width="160">{{item.first_created}}</td>
                <td width="160">{{item.last_modified}}</td>
                <td data-title="'Actions'" class="list-table-actions-col"><a href="" class="btn btn-default left" ng-click="ViewDetail(item)">ViewDetail</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-btn-wrap left">
            <button class="btn btn-success" ng-click="delete()" has-permission="delete">删除</button>
            <span class="list-total-checked">{{vm.listTotal}}中{{vm.listChecked.length}}被选</span>
        </div>
        <span class="list-total">共{{vm.listTotal}}条数据</span>
    </div>
</div>
