<div class="form-wrap">
    <form class="edit-form" novalidate dp-form-validator="" name="atheme_form">
        <div class="form-content">
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse1 = !isCollapse1">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>必填项</h5>
                </div>
                <div collapse="isCollapse1">
                    <div class="form-group" ng-if="isEditState" style="display:none">
                        <label class="col-sm-2 control-label">ID: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="entity.id" name="id" readonly>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类名称: </label>
                            <div class="col-sm-6">
                                <input type="text" name="title" class="form-control" dp-back-checkid="{{ids()}}" dp-back-method="{{methods()}}" ng-model="entity.title" dp-back-check="{{getCheckSortUrl()}}" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图片资源: </label>
                            <div class="col-sm-6">
                              <div class="img-wrapper" style="margin-bottom: 10px;">
                                <img ng-src="{{entity.thumbnail1}}" style="max-width:400px;">
                              </div>
                              <div class="select-file-wrap">
                                <input type="file" name="thumbnail1" class="input-file" file-model="entity.thumbnail1" on-changed="getFileInfo(node,thumbnail1)">
                                <button class="btn btn-default">更改文件</button><span>{{entity.thumbnail1.name}}</span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!--本地化-->
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse2 = !isCollapse2">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>本地化名称</h5>
                </div>
                <div collapse="isCollapse2">
                    <div class="widget-content">
                        <div class="form-group">
                            <div class="inline-ref-table">
                                <table class="table table-bordered ref-table ref-athemelocale">
                                    <thead>
                                    <tr>
                                        <th>Locale</th>
                                        <th>名称</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                   <tbody>
                                    <tr ng-repeat="refItem in entity.athemelocale">
                                        <td>
                                            <input type="text" class="form-control inline-ref-input-cell" name="urlparamTitle" ng-model="refItem['locale']" readonly>
                                            <div class="ref-btn-wrap"> 
                                                <span class="glyphicon glyphicon-plus" ng-click="popUp('add', 'staticresource', 'athemelocale', 'locale', $index)"></span>  
                                                <span class="glyphicon glyphicon-pencil" ng-click="popUp('edit', 'staticresource', 'athemelocale', 'locale', $index, refItem.id)"></span>                                           
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" name="urlparamName" class="form-control inline-ref-order-cell" 
                                             ng-model="refItem['name']" readonly>
                                        </td>
                                        <td class="ref-actions">
                                            <input type="checkbox" name="athemelocale_isDelete" ng-model="refItem.isDelete" ng-true-value="1" ng-false-value="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control inline-ref-input-cell" ng-model="entity.athemelocale[entity.locale.length]['locale']" name="atheme_locale" readonly>  
                                            <div class="ref-btn-wrap"> 
                                                <span class="glyphicon glyphicon-plus" ng-click="popUp('add', 'staticresource', 'athemelocale', 'locale', entity.athemelocale.length)"></span>  
                                               
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                        <td class="ref-actions">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--atheme-->
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse3 = !isCollapse3">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>Theme资源</h5>
                </div>
                <div collapse="isCollapse3">
                    <div class="widget-content">
                        <div class="form-group">
                            <div class="inline-ref-table">
                                <table class="table table-bordered ref-table ref-atheme">
                                    <thead>
                                    <tr>
                                        <th>Theme资源</th>
                                        <th>Order</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="refItem in entity.atheme">
                                        <td>
                                            <input type="text" class="form-control inline-ref-input-cell" name="athemeTitle{{$index}}" dp-dynamic-field-name ng-model="refItem['name']" readonly>
                                            <div class="ref-btn-wrap">
                                                <span class="glyphicon glyphicon-search" ng-click="popUp('list', 'staticresource', 'atheme', 'name', $index)"></span>
                                                <!-- <span class="glyphicon glyphicon-pencil" ng-click="popUp('edit', 'staticresource', 'atheme', 'name', $index, refItem.id)"></span> -->
                                            </div>
                                        </td>
                                        <td style="position:relative">
                                            <input type="number" class="form-control inline-ref-order-cell" name="athemeOrder{{$index}}" dp-dynamic-field-name ng-model="refItem.order" option="{tipPos:'left'}" min="1" required>
                                        </td>
                                        <td class="ref-actions">
                                            <input type="checkbox" name="atheme_isDelete" ng-model="refItem.isDelete" ng-true-value="1" ng-false-value="0">
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control inline-ref-input-cell" name="athemeTit" ng-model="entity.atheme[entity.atheme.length]['name']" readonly>
                                            <div class="ref-btn-wrap">
                                                <span class="glyphicon glyphicon-search" ng-click="popUp('list', 'staticresource', 'atheme', 'name', entity.atheme.length)"></span>
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                        <td class="ref-actions"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-btn-wrap">
            <button class="btn btn-success right" dp-form-submit="save" has-permission="edit||add">保存</button>
        </div>
    </form>
</div>
