<div class="user-warp">
    <form class="form-horizontal" name="createTransForm" ng-submit="createUser()" novalidate>
        <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-7">
                <input type="email" placeholder="user name" class="form-control" ng-model="entity.user_name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Role</label>
            <div class="col-sm-7">
                <input type="checkbox" all-select-dire="group" has-selected="entity.group_id" all-select-resource="roles" class="hide"/>
                <div class="checkbox">
                    <label ng-repeat="item in roles" class="col-sm-2"><input type="checkbox" name="group" value="{{item.value}}"/>{{item.display_value}}</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mark</label>
            <div class="col-sm-7">
                <input type="text" placeholder="mark" class="form-control" ng-model="entity.mark">
            </div>
        </div>
        <div class="form-footer">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button class="btn btn-default btn-gray" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-success ng-scope" type="submit">Confirm</button>
                </div>
            </div>
        </div>
    </form>
</div>