<div class="form-wrap"  ng-init="ipushservice_form={}">
    <form class="edit-form" novalidate dp-form-validator="" name="ipushservice_form" dp-after-validator="afterVali">
        <div class="form-content">
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse1 = !isCollapse1">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>必填项</h5>
                </div>
                <div collapse="isCollapse1">
                    <div class="widget-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开关：</label>
                            <div class="col-sm-5">
                                <select name="switch" ng-model="entity.switch" ng-options="o.value as o.name for o in switch"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">close： </label>
                            <div class="col-sm-5">
                                <select name="close" ng-model="entity.close" ng-options="o.value as o.name for o in close_type"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">控制台标题：</label>
                            <div class="col-sm-6">
                                <input type="text" name="title" class="form-control" dp-back-checkid="{{ids()}}" dp-back-method="{{methods()}}" ng-model="entity.title" dp-back-check="{{getCheckSortUrl()}}" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">推送频率：</label>
                            <div class="col-sm-6">
                                <input type="number" name="interval" class="form-control" min="0" ng-model="entity.interval" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">推广app：</label>
                            <div class="col-sm-6">
                                <input type="text" name="appurl" class="form-control" ng-model="entity.appurl" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">banner类型: </label>
                            <div class="col-sm-5">
                                <select name="type" ng-model="entity.type" ng-options="o.value as o.name for o in action_type" ng-disabled="isDisabled"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图片1: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control ng-pristine ng-valid" name="iconTitle" ng-model="entity.icon.title" readonly>
                            </div>
                            <div class="col-sm-4 clear_col_margin">
                                <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','staticresource', 'icon', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.icon" ng-click="popUp('edit','staticresource', 'icon', 'title', 0 ,entity.icon.id, true)"></span>
                                <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','staticresource', 'icon', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.icon" ng-click="removeFiled('icon')"></span>
                            </div>
                        </div>
                        <div class="form-group" ng-if="entity.type === 1">
                            <label class="col-sm-2 control-label">图片2: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="logoTitle" ng-model="entity.logo.title" readonly="">
                            </div>
                            <div class="col-sm-4 clear_col_margin">
                                <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp_logo('list','staticresource', 'icon', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.logo" ng-click="popUp_logo('edit','staticresource', 'icon', 'title', 0 ,entity.logo.id, true)"></span>
                                <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp_logo('add','staticresource', 'icon', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.logo" ng-click="removeFiled('logo')"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">推送规则：</label>
                            <div class="col-sm-6">
                                <input type="text" name="rule_title" class="form-control" ng-model="entity.aosruledata.title" readonly>
                            </div>
                            <div class="col-sm-4 clear_col_margin">
                                <span class="ref-icon glyphicon glyphicon-search" ng-click="popUp('list','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-pencil" ng-if="entity.aosruledata.title && entity.aosruledata.length!=0" ng-click="popUp('edit','aosrule', 'aosruledata', 'title', 0 ,entity.aosruledata.id, true)"></span>
                                <span class="ref-icon glyphicon glyphicon-plus" ng-click="popUp('add','aosrule', 'aosruledata', 'title', 0 ,'', true)"></span>
                                <span class="ref-icon glyphicon glyphicon-remove" ng-if="entity.aosruledata.title && entity.aosruledata.length!=0" ng-click="removeFiled('aosruledata')"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title" ng-click="isCollapse2 = !isCollapse2">
                    <span class="icon"><i class="glyphicon glyphicon-align-justify"></i></span>
                    <h5>推广分类项：</h5>
                </div>
                <div collapse="isCollapse2">
                    <div class="widget-content">
                        <div class="form-group">
                            <div class="inline-ref-table">
                                <table class="table table-bordered ref-table ref-urloption">
                                    <thead>
                                    <tr>
                                        <th>网址分类</th>
                                        <th>排序</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="refItem in entity.iurloptionfolder">
                                        <td>

                                            <input type="text" class="form-control inline-ref-input-cell" name="urlparamTitl{{$index}}" dp-dynamic-field-name ng-model="refItem['title']" readonly>

                                            <div class="ref-btn-wrap">
                                                <span class="glyphicon glyphicon-search" ng-click="popUp('list', 'ipushservice', 'iurloptionfolder', 'title', $index)"></span>
                                                <span class="glyphicon glyphicon-pencil" ng-click="popUp('edit', 'ipushservice', 'iurloptionfolder', 'title', $index, refItem.id)"></span>
                                                <span class="glyphicon glyphicon-plus" ng-click="popUp('add', 'ipushservice', 'iurloptionfolder', 'title', $index)"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control inline-ref-order-cell" name="urloptionfolderOrder{{$index}}" dp-dynamic-field-name ng-model="refItem.order" >
                                        </td>
                                        <td class="ref-actions">
                                            <button type="button" class="btn btn-success mr0" ng-click="deleteRow(refItem)" name="urloptionfolderDelete">Delete</button></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control inline-ref-input-cell" ng-model="entity.iurloptionfolder[entity.iurloptionfolder.length]['title']" name="urloptionfolderTit" readonly>
                                            <div class="ref-btn-wrap">
                                                <span class="glyphicon glyphicon-search" ng-click="popUp('list', 'ipushservice', 'iurloptionfolder', 'title', entity.iurloptionfolder.length)"></span>
                                                <span class="glyphicon glyphicon-plus" ng-click="popUp('add', 'ipushservice', 'iurloptionfolder', 'title', entity.iurloptionfolder.length)"></span>
                                            </div>
                                        </td>
                                        <td>

                                        </td>
                                        <td class="ref-actions">
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-btn-wrap">
            <button class="btn btn-success right" dp-form-submit="save" has-permission="edit||add" id="save">保存</button>
            <!-- <button class="btn btn-default right" ng-click="saveAndContinueEdit()">保存并继续编辑</button> -->
            <button class="btn btn-default right" dp-form-submit="saveAsNew" ng-if="isEditState && !isPopup()" has-permission="add" id="save_new">保存为新的</button>
        </div>
    </form>
</div>
